*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(to right, rgba(45, 43, 43, 0.7), rgba(0, 0, 0, 0.7)), url(/Img/nosotrosImg4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
    /*---- Inicio del Header---- */
header{
    background-image:linear-gradient(to right, rgba(45, 43, 43, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-position: 50% 40%;
    position: relative;
}
header .navbar-nav a:hover{
    background-color: rgb(186, 173, 31);
    border-radius: 8px;
}
    /*---- Fin del Header---- */